body {
    background-image: url("bertha-vector.jpg");
    text-align: center;       
    font-family: monospace;

    }
    h1 {
        background-color: white;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 50%;
        height: 30px;
        padding: 30px;
        margin-left: 22%;
        border: black;
        border-style: inset;

    }
    button {
        padding: 1% 1%;
        margin: 10px 10px;
        border: black;
        border-style: double;
        font-size: 20px;
        font-family: monospace;
        
    }
    p {
        font-family: monospace;
        background-color: white;
        text-align: center;

    }
    #results {
        margin: auto;
        border: black;
        width: 40%;
        padding: 20px;
        border-style: dotted;
        background-color: white;   
        margin-top: 20px;    
    }
    #resultDetails {
        margin: auto;
        border: black;
        width: 40%;
        padding: 20px;
        border-style: dotted;
        background-color: white;   
        
    }



    #container {
        margin: 5px, 5px;
        display: inline-flex;
        margin-right: 0px;
        margin-top: 50px;
        
    }
    #computerScore {
        border-color: lawngreen;
        background-color: white;
        border-style: ridge;
        margin-right: 15px;
        padding: 1% 1%;;


    }

    #playerScore{
        background-color: white;
        border-color: lightblue;
        border-style: ridge;
        margin-right: 15px;
        padding: 1% 1%;;


    }

    #roundNumber {
        background-color: white;
        border-color: lightsalmon;
        border-style: ridge;
        margin-right: 15px;
        padding: 1% 1%;;


    }

